<h1>Universal Trusted Share</h1>
<p>Welcome to our project, our goal provide a consistent score indicator across all the
review platform in the market</p>
<h2>Why we do it?</h2>
<p>It will help you to find your credibility across the world. 
    Inevitabily we are in a customer feedback driven age 
    where over the 77% UK consumers by Trustpilot, read customer reviews before 
    making a purchase decision and they are now essential for e-business and 
    it's become a point of refence for all kind of business using platform as 
    trustpilot, argos, tesco even choose which bank we will go to create our 
    account or request your next loan.
    
    No but up to day what you customers think about you these days is not a option
    it could mean the success of your business.
    
    Now we are presenting today Trusted share a platform that it will collect 
    all reviews across over 25 plaform and use complex algorithm based on sentimental 
    analysis to build a consistent shared scored across all the platform giving you a 
    unique indicator how you customer image is and allow you to drill in each 
    platform data for more consistent analysis
    That will allow bank and business to validate possible loans, 
    purchases and warranty the veracity of the information crossing references</p>
<h2>Target Audience</h2>
<p>Business and Bank</p>
<h2>What are your beneficts of using this platform?</h2>
<h3>Business Beneficts</h3>
<p>Business: You won't neeed to worry anymore to create deal when you target a new review based platform</p>
