<section class="row score fullscreen" id="total-score">
    <div class="total-score">
        <p>Daniel Smith</p>
        <p>
            <strong>97</strong>
            <span class="underline">/100</span>
            <span>Score</span>
        </p>
        <button type="button" ng-click="events.moreDetails($event)" class="more-details"><i class="glyphicon glyphicon-option-horizontal"></i></button>
    </div>
</section>
<section class="row score-source-list hidden" id="score-details">
    <sp-score ng-repeat="scoreInfo in sharePlatformScoreList"></sp-score>
</section>
